# Ignore from local build
settings.ini
Gemfile.lock

_posts/2022-08-28-Bash-Installation-Validation.md
_posts/2022-08-21-first-jupyter-notebook.md
_posts/2022-08-28-Python-Quiz.md
_posts/2022-08-25-Physics-Lab-Report.md